
header{
    border-bottom: solid 2px rgb(42, 122, 228);
    color: rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    text-align: center;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}
footer{
    margin-top: 100px;
}
iframe{
    border: solid 2px black;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 150px;
    
}
.chamada-texto{
    margin-right: 5%;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px
}
.categoria-videos img{
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid green;
}
.section-top{
    display: flex;
    background-color: rgb(184, 156, 213);
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
.section-videos{
    padding-left: 20px;
    padding-right: 20px;
}
.section-videos h2{
    color: rgb(42, 122, 228);
}